.seccion-informacion {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 70px;
  }
  
  .informacion-item {
    margin: 0 100px 0 20px;
    border-right: 1px solid;
    border-color: #434343;
    padding-right: 70px;
  }
  
  .informacion-item-end {
    margin: 0 100px 0 0;
  }
  
  .informacion-titulo {
    text-align: center;
    font-family: map-get($estilos-font, font-titulo);
  }
  