.essen-contacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.essen-contacto-img {
    background-image: url('../images/essen-contacto.png');
    width: 90%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px 20px 0 40px;
}

.essen-contacto-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
    font-size: 20px;
    margin: 50px 20px 0 100px;
    font-family: map-get($estilos-font, font-texto);
    color: #fff;
}

.essen-contacto-item-row {
    display: flex;
    flex-direction: row;
}

.essen-contacto-item p {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
}
