/* Seccion footer */
.footer-seccion {
    display: flex;
    justify-content: start;
    background-image: linear-gradient(to left, #ffb4a2, #ca2e06);
    width: 100%;
    height: 250px;
    margin-top: 150px; 
}
  
.footer-item-colum {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 150px;
    margin-bottom: 40px; 
}
  
.footer-icon {
    margin: 5px;
}

.footer-img {
    width: 40px;
    height: 40px;
}

.contacto-titulo {
    font-family: map-get($estilos-font, font-texto);
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 20px;
}
  
.contacto-dato {
    font-family: map-get($estilos-font, font-texto);
    color: #ffffff;
    font-size: 17px;
}
