/* Seccion header con el menú de navegación */
#header {
    background-image: linear-gradient(to left, #ca2e06, #ffb4a2);
    width: 100%;
}
  
.logo-element {
    display: inline-block;
    background-image: url("../images/essen-sabina.png");
    width: 330px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 40px 0 0 20px; }
  
#nav-link {
    text-decoration: none;
    color: white;
}

#navbarSupportedContent {
    justify-content: end;
}

#nav-element {
    display: inline;
    margin: 40px;
    font-family: map-get($estilos-font, font-texto);
    font-size: 20px;
}

#nav-list-element {
    display: -webkit-inline-box;
    position: relative;
    right: 20px;
    margin-top: 40px;
}

#navbar-toggler-icon {
    background-image: url("../images/button-menu-mobile.png");
}
  
#navbar-toggler {
    transition: outline 0.5s;
    color: #ffffff;
    border-color: #ffffff;
    margin-right: 20px;
    &:focus {
        outline: 0;
    }
}
